body {
  margin-bottom: 25px; /* Margin bottom by footer height */
  background: rgb(71,126,64);
  background: radial-gradient(circle, rgba(71,126,64,1) 0%, rgba(148,189,233,1) 100%);
  color: white;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.7vw;
  padding: 10px;
  font-size: calc(20px + 3vw);
  background-color: #fff;
  color: #333;
}

h1 {
  font-size: calc(20px + 3vw);
  font-family: 'Cabin Sketch', cursive;
  margin-bottom: 0;
  width: 90%;
}

#author-nav-button {
  width: 10%;
  text-align: left;
  font-size: inherit;
}

#author-buttons {
    display: none;
  }

/*sticky footer*/
.footer {
  /*position: absolute;*/
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px; /* Set the fixed height of the footer here */
  line-height: 25px; /* Vertically center the text there */
  background-color: #f5f5f5;
  color: #404141FF;
  font-size: 11px;
}
.btn-secondary {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: none;
  margin: 0.2em;
}

.btn-secondary:hover {
  background-color: #777;
  color: #EDF3F3FF;
  border: none;
}

.blockquote-footer {
  color: #C5C6CBFF;
}

.side-nav {
  width: 220px;
  height: 100%;
  position: absolute;
  -webkit-transition: transform 0.7s ease;
  transition: transform 0.7s ease;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.95;
  overflow-x: hidden;
  -webkit-transform: translate(-300px,0);
  transform: translate(-300px,0);
}

.side-nav>a {
  display: block;
  color: #333;
  padding: 0.75em;
}

.side-nav a:hover {
  font-weight: bold;
  text-decoration-line: none;
}

.nav-open {
   -webkit-transform: translate(0,0);
  transform: translate(0,0);
}

.close-author-nav-menu {
  text-align: right;
}

@media screen and (min-width: 601px) {
  #author-buttons {
    display: block;
  }

  #author-nav-button {
    display: none;
    width: 0;
  }
  header {
    padding: 20px;
    background-color: transparent;
    color: #fff;
  }
  h1 {
    font-size: calc(24px + 3vw);
    width: 100%;
  }
}